<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-audio-recorder"
        version="0.0.1">

    <name>AudioRecorder</name>

    <description>Cordova Plugin Audio Recorder</description>
    <license>Onefile Limited</license>
    <keywords>nomad,onefile,audio,recorder</keywords>
    <repo>https://bitbucket.org/deviceboxmedia/cordova-plugin-audio-recorder.git</repo>
    <issue></issue>

    <js-module src="www/AudioRecorder.js" name="AudioRecorder">
        <clobbers target="AudioRecorder" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVAudioRecorder">
                <param name="ios-package" value="CDVAudioRecorder" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAudioRecorder.h" />
        <source-file src="src/ios/CDVAudioRecorder.m" />
        <resource-file src="src/ios/CDVAudioRecorder.xib" />
        <resource-file src="src/ios/CDVAudioRecorder.bundle" />

        <framework src="AVFoundation.framework" />
        <framework src="UIKIT.framework" />
        <framework src="QuartzCore.framework" />

        <framework src="CoreGraphics.framework" />
        <framework src="MobileCoreServices.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
        <js-module src="www/AudioRecorder.js" name="AudioRecorder"> 
            <merges target="cordova.AudioRecorder.audioRecorder" /> 
            <merges target="window.audioRecorder" /> 
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CDVAudioRecorder" >
                <param name="android-package" value="uk.co.onefile.nomadionic.audiocapture.CDVAudioRecorder"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.RECORD_VIDEO"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="uk.co.onefile.nomadionic.audiocapture.AudioRecorder" />
        </config-file>

        <source-file src="src/android/CDVAudioRecorder.java" target-dir="src/uk/co/onefile/nomadionic/audiocapture" />
        <source-file src="src/android/AudioRecorder.java" target-dir="src/uk/co/onefile/nomadionic/audiocapture" />

        <resource-file src="src/android/res/drawable/continue_button.png" target="res/drawable/continue_button.png" />
        <resource-file src="src/android/res/drawable/pause_button.png" target="res/drawable/pause_button.png" />
        <resource-file src="src/android/res/drawable/play_button.png" target="res/drawable/play_button.png" />
        <resource-file src="src/android/res/drawable/record_button.png" target="res/drawable/record_button.png" />
        <resource-file src="src/android/res/drawable/save_button.png" target="res/drawable/save_button.png" />


        <resource-file src="src/android/res/layout/activity_main.xml" target="res/layout/activity_main.xml" />

        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/dimensions.xml" target="res/values/dimensions.xml" />
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />

    </platform>

    <platform name="windows">
        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <DeviceCapability Name="microphone" />
            <DeviceCapability Name="webcam" />
        </config-file>

        <js-module src="src/windows/CDVAudioRecorderProxy.js" name="CDVAudioRecorderProxy">
            <merges target="" />
        </js-module>

        <js-module src="src/windows/AudioUtil.js" name="AudioUtil">
            <merges target="AudioRecorder" />
        </js-module>

        <resource-file src="src/windows/AudioRecorder.html" target="pages/AudioRecorder.html" />
        <resource-file src="src/windows/default.css" target="pages/default.css" />
        <resource-file src="src/windows/ionicons.eot" target="fonts/ionicons.eot" />
        <resource-file src="src/windows/ionicons.svg" target="fonts/ionicons.svg" />
        <resource-file src="src/windows/ionicons.ttf" target="fonts/ionicons.ttf" />
        <resource-file src="src/windows/ionicons.woff" target="fonts/ionicons.woff" />
        <resource-file src="src/windows/OpenSans-Bold.ttf" target="fonts/OpenSans-Bold.ttf" />
        <resource-file src="src/windows/OpenSans-BoldItalic.ttf" target="fonts/OpenSans-BoldItalic.ttf" />
        <resource-file src="src/windows/OpenSans-Italic.ttf" target="fonts/OpenSans-Italic.ttf" />
        <resource-file src="src/windows/OpenSans-Light.ttf" target="fonts/OpenSans-Light.ttf" />
        <resource-file src="src/windows/OpenSans-LightItalic.ttf" target="fonts/OpenSans-LightItalic.ttf" />
        <resource-file src="src/windows/OpenSans-Regular.ttf" target="fonts/OpenSans-Regular.ttf" />
    </platform>
</plugin>
