<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-audio-recorder"
        version="0.0.1">
    <name>AudioRecorder</name>

    <description>Cordova Plugin Audio Recorder</description>
    <license>Onefile Limited</license>
    <keywords>nomad,onefile,audio,recorder</keywords>
    <repo>https://bitbucket.org/deviceboxmedia/cordova-plugin-audio-recorder.git</repo>
    <issue></issue>

    <js-module src="www/AudioRecorder.js" name="AudioRecorder">
        <clobbers target="AudioRecorder" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVAudioRecorder">
                <param name="ios-package" value="CDVAudioRecorder" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAudioRecorder.h" />
        <source-file src="src/ios/CDVAudioRecorder.m" />
        <resource-file src="src/ios/CDVAudioRecorder.xib" />
        <resource-file src="src/ios/CDVAudioRecorder.bundle" />

        <framework src="AVFoundation.framework" />
        <framework src="UIKIT.framework" />
        <framework src="QuartzCore.framework" />

        <framework src="CoreGraphics.framework" />
        <framework src="MobileCoreServices.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
        <js-module src="www/AudioRecorder.js" name="AudioRecorder"> 
            <clobbers target="cordova.AudioRecorder.audioRecorder" /> 
            <clobbers target="window.audioRecorder" /> 
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CDVAudioRecorder" >
                <param name="android-package" value="uk.co.onefile.nomadionic.audiocapture.CDVAudioRecorder"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.RECORD_VIDEO"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="uk.co.onefile.nomadionic.audiocapture.AudioRecorder" />
        </config-file>

        <source-file src="src/android/CDVAudioRecorder.java" target-dir="src/uk/co/onefile/nomadionic/audiocapture" />
        <source-file src="src/android/AudioRecorder.java" target-dir="src/uk/co/onefile/nomadionic/audiocapture" />

        <resource-file src="src/android/res/layout/activity_main.xml" target="res/layout/activity_main.xml" />
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />

        <framework src="android.support.v7.app.AppCompatActivity" />

    </platform>
</plugin>
